
{% extends 'base.html' %}
    {% block content %}
        <h1 style="color: blueviolet;"> HELLO FROM MY PAGE</h1>

        <h2>Food Menu</h2>

        {% for section in sections %}
            <li>
                <a href="/foods/{{section.id}}">{{ section.name }}</a><br>
            </li>
        {% endfor %}

        {% for food in foods %}
            <li>
                <img src="{{ food.image.url }}" alt="{{ food.name }}" width="200">
                <a href="/detail/{{food.id}}">{{ food.name }}</a><br>
            </li>
            {% empty %}
            <p>No food items available.</p>
        {% endfor %}

    {% endblock %}
